#SPDX-License-Identifier: MIT-0
---
# tasks file for alaveteli_config

- name: Check if general.yml exists
  ansible.builtin.stat:
    path: "/var/www/{{ alaveteli_host }}/alaveteli/shared/general.yml"
  register: general_yml_stat

- name: Update SITE_NAME in general.yml
  ansible.builtin.lineinfile:
    path: "/var/www/{{ alaveteli_host }}/alaveteli/shared/general.yml"
    regexp: "^SITE_NAME:"
    line: "SITE_NAME: '{{ alaveteli_site_name }}'"
    backup: yes
  when: general_yml_stat.stat.exists
  become: true
  notify: Restart Alaveteli Services

- name: Update THEME_URLS in general.yml
  ansible.builtin.replace:
    path: "/var/www/{{ alaveteli_host }}/alaveteli/shared/general.yml"
    regexp: '^(THEME_URLS:)\n(\s+- .+)$'
    replace: "THEME_URLS:\n  - 'https://github.com/ellakcy/foicy-theme.git'"
    backup: yes
  when: general_yml_stat.stat.exists
  become: true
  notify: Restart Alaveteli Services

- name: Update THEME_BRANCH in general.yml
  ansible.builtin.lineinfile:
    path: "/var/www/{{ alaveteli_host }}/alaveteli/shared/general.yml"
    regexp: "^THEME_BRANCH:"
    line: "THEME_BRANCH: 'master'"
    backup: yes
  when: general_yml_stat.stat.exists
  become: true
  notify: Restart Alaveteli Services

- name: Update DONATION_URL in general.yml
  ansible.builtin.lineinfile:
    path: "/var/www/{{ alaveteli_host }}/alaveteli/shared/general.yml"
    regexp: "^DONATION_URL:"
    line: "DONATION_URL: http://www.mysociety.org/donate"
    backup: yes
  when: general_yml_stat.stat.exists
  become: true
  notify: Restart Alaveteli Services

- name: Update ISO_COUNTRY_CODE in general.yml
  ansible.builtin.lineinfile:
    path: "/var/www/{{ alaveteli_host }}/alaveteli/shared/general.yml"
    regexp: "^ISO_COUNTRY_CODE:"
    line: "ISO_COUNTRY_CODE: CY"
    backup: yes
  when: general_yml_stat.stat.exists
  become: true
  notify: Restart Alaveteli Services

- name: Update ISO_CURRENCY_CODE in general.yml
  ansible.builtin.lineinfile:
    path: "/var/www/{{ alaveteli_host }}/alaveteli/shared/general.yml"
    regexp: "^ISO_CURRENCY_CODE:"
    line: "ISO_CURRENCY_CODE: EUR"
    backup: yes
  when: general_yml_stat.stat.exists
  become: true
  notify: Restart Alaveteli Services

- name: Update TIME_ZONE in general.yml
  ansible.builtin.lineinfile:
    path: "/var/www/{{ alaveteli_host }}/alaveteli/shared/general.yml"
    regexp: "^TIME_ZONE:"
    line: "TIME_ZONE: 'Asia/Nicosia'"
    backup: yes
  when: general_yml_stat.stat.exists
  become: true
  notify: Restart Alaveteli Services

- name: Update AVAILABLE_LOCALES in general.yml
  ansible.builtin.lineinfile:
    path: "/var/www/{{ alaveteli_host }}/alaveteli/shared/general.yml"
    regexp: "^AVAILABLE_LOCALES:"
    line: "AVAILABLE_LOCALES: 'el en tr'"
    backup: yes
  when: general_yml_stat.stat.exists
  become: true
  notify: Restart Alaveteli Services

- name: Update DEFAULT_LOCALE in general.yml
  ansible.builtin.lineinfile:
    path: "/var/www/{{ alaveteli_host }}/alaveteli/shared/general.yml"
    regexp: "^DEFAULT_LOCALE:"
    line: "DEFAULT_LOCALE: 'el'"
    backup: yes
  when: general_yml_stat.stat.exists
  become: true
  notify: Restart Alaveteli Services

- name: Display warning if general.yml does not exist
  ansible.builtin.debug:
    msg: "WARNING: general.yml not found at /var/www/{{ alaveteli_host }}/alaveteli/shared/general.yml - skipping configuration update"
  when: not general_yml_stat.stat.exists
